BackupWithWIM/packages/Microsoft.Win32Ex.1.0.5137.22482/lib/net20/Microsoft.Win32Ex.xml
BackupWithWIM/packages/Microsoft.Win32Ex.1.0.5137.22482/Microsoft.Win32Ex.1.0.5137.22482.nuspec
BackupWithWIM/packages/Microsoft.Win32Ex.1.0.5137.22482/Microsoft.Win32Ex.1.0.5137.22482.nupkg
BackupWithWIM/packages/Microsoft.Wim.1.0.5137.22989/lib/net35-Client/Microsoft.Wim.xml
BackupWithWIM/packages/Microsoft.Wim.1.0.5137.22989/Microsoft.Wim.1.0.5137.22989.nuspec
BackupWithWIM/packages/Microsoft.Wim.1.0.5137.22989/Microsoft.Wim.1.0.5137.22989.nupkg
BackupWithWIM/BackupWithWIM/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BackupWithWIM/BackupWithWIM/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BackupWithWIM/BackupWithWIM/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
