<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackupWithWIM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <appSettings>
        <add key="RepoPath" value="C:\ImageRepo" />
        <add key="WriteBootSector" value="true" />
        <add key="FormatDisk" value="true" />
        <add key="ImageCompression" value="true"/>
        <add key="FormatType" value="quick"/>
    </appSettings>
    <userSettings>
        <BackupWithWIM.Properties.Settings>
            <setting name="WriteBootSector" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="FormatDisk" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="DefaultImageStore" serializeAs="String">
                <value>C:\ImageRepo</value>
            </setting>
            <setting name="VMRepoPath" serializeAs="String">
                <value>C:\Hyper-V\Virtual Machines</value>
            </setting>
            <setting name="VDIServerHostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="VDIServerUsername" serializeAs="String">
                <value>conteso\username</value>
            </setting>
        </BackupWithWIM.Properties.Settings>
    </userSettings>
</configuration>